* {
  margin: 0;
  padding: 0;
}

p {
  color: black;
  font-weight: bold;
  font-size: larger;
  font-family: "Trebuchet MS", sans-serif;
}

.footer h4 {
  font-family: "Courier New", monospace;
}

span {
  color: #e02f44;
}

.mobile {
  width: 800px;
  border: 5px solid #23ad9d;
}

@media only screen and (max-width: 840px) {
  .mobile {
    width: 300px;
    border: 5px solid #23ad9d;
  }

  p {
    color: black;
    font-weight: bold;
    font-size: small;
  }
}
