* {
  margin: 0;
  padding: 0;
}

p {
  color: balck;
  font-weight: bold;
  font-size: larger;
}

span {
  color: #e02f44;
}

.mobile {
  width: 500px;
  border: 5px solid rebeccapurple;
}

@media only screen and (max-width: 840px) {
  .mobile {
    width: 200px;
    border: 5px solid red;
  }

  p {
    color: balck;
    font-weight: bold;
    font-size: small;
  }
}

@media only screen and (max-width: 1298px) {
  .mobile {
    width: 200px;
    border: 5px solid rebeccapurple;
  }
}
