* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #14ccc3;
}

p {
  color: black;
  font-weight: bold;
  font-size: larger;
  font-family: "Trebuchet MS", sans-serif;
}

.footer h4 {
  font-size: medium;
  font-family: "Courier New", monospace;
}

span {
  color: #e02f44;
}

.mobile {
  width: 800px;
  border: 5px solid #6b6965;
}
.mobile h1 {
  font-size: x-large;
  font-family: Tahoma, sans-serif;
}

.letterclass {
  letter-spacing: 3px;
  color: #6b6965;
}

@media only screen and (max-width: 840px) {
  .mobile {
    width: 300px;
    border: 5px solid #6b6965;
  }

  p {
    color: black;
    font-weight: bold;
    font-size: small;
  }
}
